.sidebar {
    color: white;
    flex: 0.3;
    background-color: darkslategrey;
    border: 1px solid white;
    max-width: 260px;
    
  }
  .sidebar > hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
  }
  .sidebar_header {
    padding: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    display: flex;
  }
  .sidebar_info {
    flex: 1;
  }
  .sidebar_info > h2 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 1px;
  }
 